.lawyer-list {
  width: 1000px;
  margin: 20px auto 0;
  .lawyer {
    float: left;
    width: 48%;
    position: relative;
    margin-bottom: 30px;
    &:nth-child(odd) {
      margin-right: 1%;
    }
    .avt {
      float: left;
      width: 40%;
      background-size: 100%;
      background-repeat: no-repeat;
      background-color: #eee;
      padding: 10px;
      background-clip: content-box;
      img {
        width: 100%;
      }
    }
    .desc {
      float: right;
      width: 60%;

      .rate {
        color: #FFC107;
      }

      .status {
        i {
          color: #76FF03;
        }
      }

      .action {
        a {
          display: block;
          clear: both;
          width: 50%;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.lawyer-book {
  width: 700px;
  margin: 20px auto 0;

  .avt {
    float: left;
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #eee;
    padding: 10px;
    img {
      width: 100%;
    }
  }
  .desc {
    float: right;
    width: 70%;
    padding: 10px;

    .name {
      font-size: 25px;
    }

    .rate {
      color: #FFC107;
    }

    .status {
      i {
        color: #76FF03;
      }
      margin-bottom: 20px;
    }

    .action {
      a {
        display: block;
        clear: both;
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }

  .skill {
    clear: both;
    width: 100%;
    float: left;
  }

}